* {
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------------- HEADER ----------------- */
header {
    display: flex;
    flex-direction: column;

    background-color: cadetblue;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

#header-logo {
    background-color: aqua;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    margin-left: 5%;
}

#header-searcher {
    display: flex;

    margin: 0px 5%;
}

#header-searcher form input[type=text] {
    padding: 10px;
    margin: 0%;
    border: 0px;
    font-size: 17px;

    border-radius: 10px 0 0 10px;
}

#header-searcher form button {
    float: right;
    border: 0px;
    padding: 10px 12px;
    font-size: 17px;
    cursor: pointer;

    border-radius: 0 10px 10px 0;
    background-color: rgb(152, 255, 203);
}

#header-searcher form button:hover {
    background-color: rgb(91, 214, 153);
}

#header-searcher form button:active {
    background-color: rgb(35, 180, 108);
}

#header-login {
    margin-right: 2%;
}

#header-login a {
    color: black;
    background-color: rgb(116, 213, 240);

    border-style: none;
    border-radius: 30px;

    padding: 10px 15px;
    margin: 0px 10px;

    user-select: none;
    text-decoration: none;
}

#header-login a:hover {
    cursor: pointer;
    background-color: rgb(151, 229, 251);
}

#header-login a:active {
    background-color: rgb(81, 183, 212);
}

.header-buttons-container {
    display: flex;
    justify-content: center;

    background-color: burlywood;
}

.header-button {
    padding: 10px 20px;
    user-select: none;

    background-color: rgb(73, 255, 164);
}

.header-button:hover {
    cursor: pointer;

    background-color: rgb(154, 255, 205);
}

.header-button:active {
    background-color: rgb(38, 230, 134);
}

/* ----------------- /HEADER ----------------- */

/* ----------------- BODY ----------------- */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main-body {
    display: flex;
    justify-content: center;

    background-color: aquamarine;
    flex: 1;
}

.body-space {
    width: 10%;
}

/* ----------------- /BODY ----------------- */

/* ----------------- INDEX ----------------- */

.body-center {
    display: flex;
    flex-direction: column;

    background-color: rgb(146, 127, 255);
    
    width: 70%;
}

.body-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 20px;

    /* Solo para ver los límites de las secciones */
    /* Borrar al final y no se utilizan */
    border-color: red;
    border-style: solid;
}

.section-content {
    display: flex;
    /* Solo para ver los límites de las secciones */
    /* Borrar al final y no se utilizan */
    border-color: red;
    border-style: solid;
}

.section-content-item {
    margin: 0px 40px;
}

.section-content-item img {
    width: 100px;
    height: 150px;
    background-color: white;
}

.section-content-item h1 {
    font-size: 20px;
}

.body-section .center-button {
    padding-top: 20px;
}

.center-button button {
    padding: 5px 15px;
    font-size: 15px;

    border-style: solid;
    border-color: rgb(34, 199, 117);
    border-radius: 30px;

    background-color: rgb(73, 255, 164);
}

.center-button button:hover {
    cursor: pointer;

    border-color: rgb(73, 255, 164);
    background-color: rgb(154, 255, 205);
}

.center-button button:active {
    background-color: rgb(38, 230, 134);
}

.center-button {
    text-align: center;
}

/* ----------------- /INDEX ----------------- */

/* ----------------- LOGIN ----------------- */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(231, 227, 255);

    margin: 20px;
    padding: 30px 20%;
}

.login-form form div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.login-form form div label {
    margin-bottom: 3px;
}

.login-form form div input[type=text] {
    font-size: 15px;
}

.login-form .center-button {
    margin: 25px 0px 20px;
}

.login-form div {
    margin-bottom: 10px;
}

.login-form div a {
    color: rgb(43, 159, 255);

    border-style: none;

    text-decoration: none;
}

/* ----------------- /LOGIN ----------------- */

/* ----------------- FOOTER ----------------- */

footer {
    background-color: gray;
}

.footer-flex {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* Solo para ver los límites de las secciones */
    /* Borrar al final y no se utilizan */
    border-color: red;
    border-style: solid;
}

#footer-logo {
    background-color: aqua;
    border-radius: 50px;
    width: 150px;
    height: 50px;
}

.footer-socials nav {
    display: flex;
    justify-content: space-evenly;
    /* Solo para ver los límites de las secciones */
    /* Borrar al final y no se utilizan */
    border-color: red;
    border-style: solid;
}

.footer-section {
    display: flex;
    flex-direction: column;
    /* Solo para ver los límites de las secciones */
    /* Borrar al final y no se utilizan */
    border-color: red;
    border-style: solid;
}

.footer-section h1 {
    margin: 5px 0px 10px;
    font-size: 25px;
}

.footer-section a {
    margin: 5px 0px;
}

.footer-section a:hover {
    margin: 5px 0px;
    cursor: pointer;
}

.copyright {
    text-align: center;
    margin-bottom: 12px;
    /* Solo para ver los límites de las secciones */
    /* Borrar al final y no se utilizan */
    border-color: red;
    border-style: solid;
}

.copyright br {
    display: none;
}

/* ----------------- /FOOTER ----------------- */
