* {
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
}

:root {
    --primary-color: #9dffb2;
    --primary-color-dark: #7bddbd;
    --primary-color-light: #c6ffec;
    --secondary-color: #c6f8ff;
    --secondary-color-light: #e8fbff;
    --text-color: #1e795b;
    --important-color: #ff0080;
}

#user-cart, #admin-options {
    margin-right: 2%;
}

#user-cart a, #admin-options a {
    color: var(--text-color);
    background-color: var(--primary-color-light);
    text-align: center;
    font-weight: bold;
    text-wrap-mode: nowrap;

    border-style: none;
    border-radius: 30px;

    padding: 5px 15px;
    margin: 5px 0;

    user-select: none;
    text-decoration: none;
}

#user-cart a:hover, #admin-options a:hover {
    cursor: pointer;
    background-color: var(--secondary-color-light);
}

#user-cart a:active, #admin-options a:active {
    background-color: var(--secondary-color);
}

/* ----------------- GLOBAL STYLES ----------------- */

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;

    background-color: var(--secondary-color-light);
    flex: 1;
}

.body-space {
    width: 10%;
}

.centerButton button {
    padding: 5px 45px;
    font-size: 15px;

    border-style: solid;
    border-color: var(--primary-color-dark);
    border-radius: 30px;

    background-color: var(--primary-color);
}

.centerButton button:hover {
    cursor: pointer;

    border-color: var(--primary-color);
    background-color: var(--primary-color-light);
}

.centerButton button:active {
    background-color: var(--primary-color-dark);
}

.centerButton {
    text-align: center;
}

@media (max-width: 650px) {
    .body-space {
        display: none;
    }
}
